
*{
    margin: 0;
    padding: 0;
}
body{
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    background-color:  hsl(212, 45%, 89%);
    display: flex;
    align-items: center; /*pour centrer*/
    margin-top: 200px;
  
}
/*la taille du conteneur */
.conteneur{
    max-width: 350px;
    margin:0 auto;
    text-align: center;
}
/*les modifs du cadre de l'img et de l'img*/
.cadre-img{
   padding: 12px;
   border-radius: 15px;
   background-color: hsl(0, 0%, 100%)
}
.img{
    width: 200px;
    border-radius: 5px;

}  